.l-navbar {
  width: 92px;
  height: 100vh;
  background-color: #12192c;
  color: #fff;
  padding: 1.5rem 1.5rem 2rem;
  transition: 0.5s;
  z-index: 100;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__brand {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: start;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.nav__toggle {
  font-size: 1.25rem;
  padding: 0.75rem;
  cursor: pointer;
}

.nav__logo {
  color: #fff;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  color: #fff;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  background-color: #0c5df4;
}

.nav__icon {
  font-size: 1.25rem;
}

.nav__name {
  font-size: 0.875rem;
}

/*Expander menu*/
.expander {
  width: calc(92px + 6rem);
}

/*Active links menu*/
.active {
  background-color: #0c5df4;
}

/*===== COLLAPSE =====*/
.collapse {
  grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
  justify-self: flex-end;
  transition: 0.5s;
}

.collapse__menu {
  display: none;
  padding: 0.75rem 2.25rem;
}

.collapse__sublink {
  color: #b6cefc;
  font-size: 0.875rem;
}

.collapse__sublink:hover {
  color: #fff;
}

/*Show collapse*/
.showCollapse {
  display: block;
}

/*Rotate icon*/
.rotate {
  transform: rotate(180deg);
}
